{% extends 'base.html' %}

{% block content %}
<h2 class="mb-3 h3">{% block title %}Analisis{% endblock %}</h2>
<div class="card p-3">
	<div class="card-header text-center">
		<h5 class="card-title mb-0">Mulai Analisis</h5>
	</div>
	<div class="card-body">
        <form action="/proses-naive" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="mb-1">Upload File (csv)</label>
                <input name="file" type="file" class="form-control" placeholder="Input">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
	</div>
</div>
{% endblock %}